.mainWrapper {
  max-width: 80ch;
  padding: 2ch 0;
  margin: auto;
  background-color: white;
  height: 100%;
  min-height: 100vh;
}
.thrasherPreventer {
  // Prevent layout trashing on scrollbar appearance
  width: 100vw;
}
