.header {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  justify-content: space-evenly;
  align-items: center;
  label {
    & > * {
      margin: 0.4rem 1em;
    }
  }
}
.search {
  min-width: 30ch;
  max-width: 45ch;
  font-size: 1rem;
}
